  	*{
  		margin:0;
  		padding:0;
		font-family:Chisel_Mark;
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;		
	}
	
	body{
		background-image: url(images/Waves.gif);
		-webkit-user-select: none; /*disable copying*/
	}
  	
	/*SECTION INVISIBLE BACKGROUND*/
  	section{
		height:1000%; /*make as long as can*/
		background-color:rgba(255, 255, 255, 0.6);
		width:1080px; /*have space on sides*/
		margin: 0 auto;
		border: 1px solid black;
		text-align:center;
  	}
	
	/*HEADERSTYLE*/
	header{
  		width: 800px;
		height:60px;
		text-align:center;
  		margin: 0px auto;
		background-image:url(images/pattern.png);
		border:1px solid black;
		border-radius: 5px;
	}
  	
	/*PAINTER BOX*/
  	canvas{
  		display: block;
		border-radius: 5px;
  		border: 1px solid black;
  		margin: 10px auto; /*for top margin*/
  	}				/*auto for left and right and 0 px for bottom margin*/
 
  	/*DRAWING TOOLS BOX*/
  	#drawingTools{
		border: 1px solid black;
		border-radius: 5px;
  		width: 800px;
  		height: 100%;
  		margin: 0px auto;
  	}
  	
	/*PALETTE BOX*/
  	#colors{ /*outside*/
  		width: 100%; /*takes 100% width of container elements*/
  		height: 100%;
		margin-top:10px;
  	}
	
	/*OTHER TOOLS AS CLEAR FILL A.S.O*/
	#otherTools{
		margin-top: 5px;
  		width: 100%;
  		height: 100%;
  	}
  	
	/*CASSETE ICONS*/
	input[name=cassete]{
		width:86px;
		height: 60px ;
		cursor:pointer;
	}
	/*COLORS CASSETE WHEN SENS CURSOR*/
	input[name=cassete]:hover{
		opacity: 0.3;
	}
	/*COLORS CASSETE REMOVE OUTLINE*/
	input[name=cassete]:focus{
		outline: none; 
	}
	
	/*BUTTON STYLE*/
	button{
		cursor:pointer;
		background-color:#C1FD67;
		border: 1px solid black;
		border-radius: 5px;
		width:80px;
		height:60px;
		box-shadow: 0 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		font-size:15px;
	}
	
	button.saves{background-color: #65C4F7;}
	button.clears{background-color: #FD6876;}
	button.eraser{background-color: #FDC967;}

	/*FONTS*/
	@font-face{
		font-family: Chisel_Mark;
		src:url(font/Chisel_Mark.ttf);
	}

	/*TEXT FOR HEADER*/
	h1.headertext{
		font-size: 60px;
	}
	
	/*TEXT INSIDE PAGE*/
	h1.pagetext{
		font-size: 40px;
		
	}
	
	/*PATTERNED BOX*/
	h1.painterdraw{
	background-image:url(images/pattern.png);
	width: 800px;
	margin: 0px auto;
	border-radius: 5px;
	border:1px solid black;
	}
	
	/*ON HEADER TEXT*/
	.menustyle{
		background-color:#C1FD67;
		width: 800px;
		margin: 0px auto;
		border-radius: 8px;
		border:1px solid black;
	}
	
	/*ON FOOTER TEXT*/
	h1.downtext{
		background-color:#C1FD67;
		width: 800px;
		margin: 0px auto;
		font-size:20px;
		border-radius: 8px;
		border:1px solid black;
	}
	
	/*FOR UNDER HEADER MENU*/
	table{
		width:100%;
		font-size:20px;
		cursor:pointer;		
	}
	
	/*FAQ BLINK*/
	a.blink{
		animation: color-change 2s infinite;
		text-decoration: none;
	}	
	
	@keyframes color-change {
		0% { color: #FD6876; }
		50% { color: #FDC967; }
		100% { color: FD6876; }
	}