
/*Google Fonts*/
body {
  background-color: #DFDFE3;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Lato', sans-serif;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #425460;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  box-sizing:border-box;
}

header input {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0px;
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgba(145, 168, 208, 0.3); /*#91A8D0, rgba-ga selleks, et saaks opacityt kasutada*/
  border-radius: 15px 15px 15px 15px;
  border: 0px;
  box-shadow: none;
  outline: none;
  box-sizing:border-box;

  /*https://css-tricks.com/almanac/properties/a/appearance/*/
  -webkit-appearance: none;
  -moz-appearance:    none;
}

/*https://css-tricks.com/almanac/selectors/p/placeholder/*/

header input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5); /*white*/
}
header input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
header input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
header input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

/*https://www.youtube.com/watch?v=2wCpkOk2uCg*/
header button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  border: 2px solid #425460;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance:    none;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

header button:hover {
  background-color: #425460;
}

/*headerist alumine osa*/
.container {
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing:border-box;

}
/*list*/
ul.todo {
  width: 100%;
  float: left;
  box-sizing:border-box;
  padding: 0px;
}
/*iga sisestuse osa*/
ul.todo li {
  font-size: 15px;
  font-weight: 500;
  color: #DFDFE3;
  line-height: 22px;
  width: 100%;
  min-height: 50px;
  float: left;
  position: relative;
  box-shadow: 0px 2px 4px rgb(223, 223, 227, 0.1);
  background-color: white;
  border-radius: 5px;
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
  box-sizing: border-box;
}

/*nuppude ühine ala*/
.buttons {
  width: 100px;
  height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
}

/*nuppude välimuse jaoks, ja et need samade suurustega oleks*/
.buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance:    none;
}


/*et kätte saada just need nupud, kuna headeris on ka kasutuses üks nupp*/
.buttons button svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 5px;
}

/*valmis märkme puhul värvib nupu seest ära*/
#done button.complete svg {
  background: #91A8D0;

}

.complete:hover svg {
  background: rgba(145, 168, 208, 0.8);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
