	*{
		margin:0;
	}
	
	html, body {
	  height: 100%;
	  background-image: url(pattern2.png);
	  width: 1080px;
	  margin: 0 auto;
	}

	/*FOOTER PARAMETRS*/
	.page {
	  min-height: 100%;
	  margin-bottom: -25px; /*FOOTER PX SIZE*/
	}
	.page:after {
	  content: "";
	  display: block;
	}
	.footer-page, .page:after {
	  height: 25px; 
	}
	.footer-page {
	  background-color: #703120;
	  text-align: center;
	}
	
	h1{
		background-color:#703120;
	}
	
	header{
		width:100%;
		text-align:center;
		height:100px;
		background-image: url(pattern.png);
		background-repeat: repeat-x;
	}
	
	/*CANVAS AS PAINT SCREEN*/
	canvas{
		text-align:center;
		display: inline-block;
		border: 1px solid black;
		margin: 15px 0px; /*for top margin*/
	}				/*auto for left and right and 0 px for bottom margin*/
	
	/*CASSETE BUTTON CONTAINER*/
	#colors{
		width: 100%;
		height:100%;/*TAKES 100% OF CONTAINER ELEMENTS*/
	}
	
	/*COLORS CASSETE SIZE*/
	input[name=cassete]{
		width:86px;
		height: 60px ;
	}
	/*COLORS CASSETE WHEN SENS CURSOR*/
	input[name=cassete]:hover{
		opacity: 0.3;
	}
	/*COLORS CASSETE REMOVE OUTLINE*/
	input[name=cassete]:focus{
		outline: none; 
	}
	
	
	/*MAKING 3 TABLES DOWN*/
	.column-one{
		float: left;
		width: 25%;
		text-align: center;
	}
	
	.column-two{
		display: inline-block;
		width: 75%;
		text-align: center;
	}